.supplier-title {
  /* padding: 9px; */
  margin-top: 12px;
  text-align: left;
}
.supplier-title h1 {
  padding-left: 25px;
  font-weight: 400;
}
.supplier-container{
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

.supplier-item-container {
  padding: 12px;
  box-sizing: border-box;
  flex-flow: column;
  text-align: left;
  margin: 0 auto;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.supplier-item-container:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.1);
}
.supplier-img-container {
  margin: 0 auto;
  max-width: 250px;
  height: 250px;
}
.supplier-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.supplier-name {
  margin-top: 15px;
  font-weight: 300;
  color: black;
}
.supplier-price {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: black;
}