.item-data-container {
  margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.item-data-img-container {
  /* height: auto; */
  /* width: 100%;
  max-width: 500px;
  max-height: 500px; */
  position: relative;
  /* border:1px solid gray; */
  margin-right: 45px;
}
.item-data-img {
  /* position: absolute; */
  /* left: 0; 
  width: 0px;
  height: 0px; */
  object-fit: contain;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
/* .item-data-container h3, h4, h1{
  margin-bottom: -12px;
} */
.itemdata-column {
  display: flex;
  flex-flow: column nowrap;
  padding: 9px;
  text-align: left;
  width: 500px;
}
.itemdata-column h1 {
  font-weight: 400;
}

.itemdata-button button{
  padding: 9px;
  min-width: 100%;
  max-width: 100%;
  background-color: #1CAC78;
  color: white;
  border: 1px solid gray;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.itemdata-button button:hover {
  transform: scale(1.1);
  /* background-color: #00693E; */
}

@media only screen and (max-width: 768px) {
  .item-data-container {
    margin-left: 0px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .item-data-container img{
    height: 250px;
  }
  .button-cart {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .item-data-container {
    margin-left: 20px;
    margin-top: 100px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .item-data-container img {
    height: 135px;
    width: 100;
  }
  .button-cart {
    margin-left: 0px;
  }
}
