.home-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: space-between;
}

.home-container img {
  height: 130px;
  width: 100;
  margin-top: 30px;
}

.item-container {
  margin-top: 40px;
  width: 400px;
  border: 1px solid black;
}

.item-container a {
  color: black;
}

@media only screen and (max-width: 375px) {
  .home-container img{
    height: 120px;
    width: 150px;
    float: left;
  }
  .item-container {
    width: 350px;
    border: transparent;
    margin-top: 30px;
  }
  .item-container p{
    margin-top: 50px;
  }
  .item-container h1{
    font-size: 20px;
  }
}