.components-container {
  background-color: none;
}
.components-separate {
  margin-top: 55px;
}
.home-error-container {
  padding-top: 22px;
  display:flex;
  flex-flow: row nowrap;
  color: rgba(255,0,0);
  width: auto;
  justify-content: center;
}
