.update-item-container form {
  margin-top: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
}

.update-item-container input {
  height: 20px;
  width: 250px;
  margin-top: 10px;
}
.update-item-container button {
  margin-top: 40px;
  height: 30px;
  width: 100px;
  border-radius: 3px;
  background-color: rgb(45, 136, 217);
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.update-item-container button:hover {
  background-color: white;
  color: rgb(45, 136, 217);
}