
.sign-up-container {
  width: 210px;
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.sign-up-container form {
  margin-top: 15px;
}
.sign-up-container input {
  margin-top: 15px;
  width: 250px;
}
.sign-up-container button {
  margin-top: 70px;
}

.sign-up-container input {
  height: 30px;
  width: 250px;
  border-radius: 3px;
  margin-bottom: 1px;
  font-size: 15px;
}
.button button{
  margin-top: 40px;
}