.dc-container {
  width: 115vh;
  height: 100%;
  margin: 0 auto;
  background-color: #CAEBF2;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
  padding: 15px;
  border-radius: 15px;
}
.dc-title-container {
  padding: 25px;
}
.dc-title {
  font-weight: 300;
  font-size: 35px; 
}
.dc-display {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 15px;
  justify-content: space-between;
}
.dc-item-container {
  color: black;
  text-decoration: none;
}
.dc-name-container {
  width: 30vh;
  margin: 12px;
  background-color: #FFF;
  padding: 12px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
  color: black;
  opacity: 0.8;
}
.dc-name-container:hover {
  background-color: #A9A9A9;
  color: #FFF;
  opacity: 1;
}