
.display-word-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.display-word-searched {
  margin-left: 25px;
  margin-top: 25px;
  font-size: 30px;
  padding: 9px;
}
.display-list {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 110px;
}
.display-list-container {
  display: grid;
  /* gap between row and columns from containers */
  grid-gap: 25px;
  /* how many columns and what size each column has */
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.display-list-container a{
  color: black;
}
.no-results-container {
  color: gray;
  position: absolute;
  margin-top: 95px;
  left: 0;
  right: 0;

}